* {
    font-family: 'Special Elite';
    /* line-height: 90%; */
}

body {
    /* font-family: Roboto, Helvetica, sans-serif; */
    margin: 0;
    background-color: #2f2f33;
}

a {
    text-decoration: none;
    color: #ffffff;
}

a:hover,
a:focus {
    color: #ba4423;
}

a:focus {
    outline: none;
}

.site-title {
    margin: 0;
    display: inline-block;
    font-size: 69px;
    font-weight: bold;
    color: #fff;
}

.header {
    background-color: #222226;
}

.header-img {
    width: 550px;
}

.hidden {
    /* visibility: hidden; */
    display: none !important;
}

/* ----- navbar ----- */
.navbar {
    background-color: #0c0c0e;
    font-size: 18px;
    line-height: 22px;
}

.navlist {
    margin: 0 0 0 20px;
    padding: 0;
}

.navitem {
    display: inline-block;
}

.navlink a {
    padding: 8px 10px;
    display: inline-block;
}

.navlink.active {
    box-shadow: inset 0 -3px #ba4423;
}

.navbar-user {
    float: right;
    margin-right: 20px;
    padding: 0;
    line-height: 38px;
}

#navbar-user-input {
    padding: 4px;
    font-size: 16px;
    background-color: #0c0c0e;
    border: 1px solid #dadada;
    border-radius: 2px;
    text-transform: none;
    text-align: justify;
}

#navbar-user-input:focus {
    outline: none;
    background-color: #fff;
    color: black;
}

#navbar-user-button {
    margin-left: -5px;
    font-size: 16px;
    background: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
}

#navbar-user-button:hover {
    color: #ba4423;
}

#navbar-user-button:focus {
    color: #ba4423;
    outline: none;
}

/* ----- module menu ----- */
.menu-container {
    display: grid;
    margin: 30px;
    margin-left: 100px;
    margin-right: 100px;
    grid-gap: 30px;
    grid-template-columns: auto auto auto;
    /*background-color: #fff;*/
    /*color: #2a2a2a;*/
}
    .level {
        display: block;
        background-color: rgb(25, 25, 26);
        border-radius: 10px;
        box-shadow: 10px 10px 20px rgb(111, 111, 115);
    }
    .section {
        color: white;
        /*margin: 10px;*/
        padding: 10px;
        margin: 0;
        background-color: #ba4423;
        border-radius: 10px 10px 0px 0px;
        /*padding-right: 50px;*/
    }
    .level-menu {
        margin: 50px;
        margin-left: 25%;
        padding: 10px;
        width: 50%;
        border-radius: 5px;
        border: solid 2px white;
        background: rgb(25, 25, 26);
        color: white;
        font-size: 16px;
    }
    .level-menu:hover {
        /* background-color: rgb(38, 38, 40); */
        border-color: #ba4423;
    }
    .level-menu:focus {
        outline: none;
        border-color: #ba4423;
    }
    .level-menu option {
        font-size: 16px;
    }
        .a {
            grid-column: 1;
            grid-row: 1;
        }
        .b {
            grid-column: 2;
            grid-row: 1;
        }
        .c {
            grid-column: 3;
            grid-row: 1;
        }
        .d {
            grid-column: 1;
            grid-row: 2;
        }
        .solve {
            border: none;
            grid-column: 2;
            grid-row: 2/4;
            text-align: center;
            font-size: 100px;
            font-weight: bold;
            color: white;
            /*transition: 0.2s;*/
        }
        .solve:focus {
            outline: none;
        }
        .solve:hover {
            background-color: black;
            cursor: pointer;
            color: #ba4423;
            box-shadow: 10px 10px 30px #ba4423;
        }
        .e {
            grid-column: 3;
            grid-row: 2;
        }
        .f {
            grid-column: 1;
            grid-row: 3;
        }
        .g {
            grid-column: 3;
            grid-row: 3;
        }

.module-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5%;
    padding-top: 10px;
}

.module-button {
    width: 225px;
    height: 225px;
    margin: 20px;
    box-shadow: 10px 10px 20px #ba4423;
    border-radius: 15px;
    border: solid 2px #ba4423;
    position: relative;
}
.module-button:hover {
    cursor: pointer;
}

.special-button-container {
    justify-content: center;
    display: flex;
}

.module-button.special {
    height: 100px;
}

.module-img {
    border-radius: 15px;
    width: 100%;
}

.module-img.special {
    height: 100px;
}

.strike-container {
    display: flex;
    height: 75px;
    margin: 33.5px 15px;
}

.strike-container button {
    border: none;
    width: 75px;
    background-color: #ba4423;
    font-family: Helvetica, sans-serif;
    font-size: 65px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.strike-container button:hover {
    background-color: #933419;
}

.strike-container button:focus {
    outline: none;
}

.strike-container h3 {
    margin: 5px 15px;
    font-family: monospace;
    font-size: 50px;
    color: white;
}

.shade {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.55);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
}

.shade:hover {
    background: rgba(0,0,0,0.3);
    color: white;
}

.module-text {
    color: white;
    font-size: 32px;
    margin: 0;
    transform: translate(-50%,-50%);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    background: rgba(0,0,0,0.5);
    border-radius: 15px;
    padding: 2px;
    pointer-events: none;
}

.module-text.special {
    background: none;
}

/*----- stats page -----*/
.stats-container {
    margin-left: 27%;
    margin-right: 27%;
    margin-top: 0px;
}

.user-stats {
    display: flex;
    /* float: right; */
    background: rgb(25, 25, 26);
    margin: 13px;
    border-radius: 10px;
    border: solid white 1px;
    justify-content: space-between;
}

.user-stats:hover {
    border-color: #ba4423;
    background-color: black;
}

.user-stats h2 {
    padding-left: 30px;
}

.user-stats p {
    padding-right: 30px;
    padding-top: 10px;
}

/*----- individual stats -----*/
.stats-name {
    /*margin-left: 50%;*/
    color: white;
    margin-top: 2px;
    margin-bottom: 8px;
    font-size: 50px;
    text-align: center;
}

h1 {
    padding: 5px 0px;
    color: white;
    margin-top: 2px;
    margin-bottom: -10px;
    font-size: 50px;
    text-align: center;
}

.individual-stats {
    display: flex;
    justify-content: center;
}

.stats-block {
    /*background: #0c0c0e;*/
    background: rgb(25, 25, 26);
    border-radius: 10px;
    margin: 0px 25px;
    width: 35%;
    box-shadow: 10px 10px 20px rgb(111, 111, 115);
}

.stats-block h2 {
    color: white;
    background-color: #ba4423;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 10px 10px 0 0;
    padding: 10px;
}

.stats-block p {
    padding: 5px;
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
    margin: 0;
    color: white;
}

/* ----- module modals ----- */
#modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.85);
}

.module-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1010;
    overflow: auto;
}

.modal-dialog {
    width: auto;
    max-width: 600px;
    min-width: 350px;
    min-height: 300px;
    margin: 200px auto;
    border: solid 2px #ba4423;
    border-radius: 18px;
    background-color: rgb(25, 25, 26);
}

.modal-header {
    background-color: #ba4423;
    color: white;
    position: relative;
    border-radius: 15px 15px 0px 0px;
    padding: 10px 20px;
}

.modal-header h3 {
    margin: 0;
    font-size: 28px;
}

.modal-close-button {
    position: absolute;
    color: white;
    right: 10px;
    top: 5px;
    font-size: 24px;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.modal-body {
    color: white;
    font-size: 22px;
    padding: 20px;
}

.simple-modal-body {
    color: white;
    font-size: 22px;
    padding: 20px;
    display: flex;
}

.passwords-container {
    float: right;
    margin-left: 120px;
    margin-top: 25px;
    font-size: 30px;
}

.passwords-result {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.simple-buttons {
    display: grid;
}

.simple-wires-result {
    margin-left: auto;
    margin-right: 20px;
}

#wire-container {
    position: relative;
}

.wires-img {
    height: 200px;
    z-index: 0;
    position: absolute;
    margin-left: -15px;
}

#actual-wire-container {
    position: absolute;
    z-index: 10;
}

.simple-wire {
    position: static;
    width: 130px;
    height: 8px;
    top: 7px;
    left: 6px;
    margin: 15px;
    margin-left: -2px;
    margin-bottom: 23px;
    border-radius: 3px;
}

.simple-button {
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-right: 60px;
    border-radius: 5px;
    cursor: pointer;
}

.simple-button:hover {
    box-shadow: 0 0 0 2pt #ba4423;
}
.simple-button:focus {
    outline: none;
}

.simon-buttons {
    margin-left: 30px;
    margin-top: 30px;
    display: grid;
    transform: rotate(-45deg);
}
.simon-buttons button {
    margin: 5px 2px;
    height: 75px;
    width: 75px;
}
.simon-says-container {
    margin-left: 0;
    display: flex;
}
.simon-says-container p {
    padding: 4px;
    /* letter-spacing: -1px; */
    font-size: 19px;
    /* justify-content: space-between; */
}

.display-input {
    display: grid;
}
.display-input p {
    margin-bottom: 5px;
    margin-left: 12px;
}
.label-input {
    display: grid;
}
.label-input p {
    margin-bottom: 5px;
    margin-left: 12px;
}
.position-input {
    display: grid;
}
.position-input p {
    margin-bottom: 5px;
    margin-left: 12px;
}
.simple-button.ktane-red {
    margin-top: 8px;
    margin-left: 45px;
}
.prompt-container {
    margin-left: 25px;
}

.complicated-options {
    display: grid;
    padding-top: 15px;
    width: 300px;
}


.complicated-options label {
    padding-bottom: 5px;
}

.complicated-options div {
    display: block;
    margin-bottom: 15px;
}

.square {
    width: 16px;
    height: 16px;
    display: inline-block;
}

/* .simple-button.dot{
    margin-right: 50px;
}

.simple-button.dash{
    margin-right: 50px;
} */

#morse-code-modal .simple-buttons {
    margin-right: -40px;
}

.gap {
    margin-top: 22px;
    margin-left: 0;
}

.morse-code-container {
    margin-left: 90px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "wire-number red-column blue-column black-column a-connection b-connection c-connection cut-wire" "wire1 red1 blue1 black1 a1 b1 c1 cut1" "wire2 red2 blue2 black2 a2 b2 c2 cut2" "wire3 red3 blue3 black3 a3 b3 c3 cut3";
}

.wire-number { grid-area: wire-number; }

.red-column { grid-area: red-column; }

.blue-column { grid-area: blue-column; }

.black-column { grid-area: black-column; }

.a-connection { grid-area: a-connection; }

.b-connection { grid-area: b-connection; }

.c-connection { grid-area: c-connection; }

.cut-wire { grid-area: cut-wire; }

.wire1 { grid-area: wire1; }

.wire2 { grid-area: wire2; }

.wire3 { grid-area: wire3; }

.red1 { grid-area: red1; }

.blue1 { grid-area: blue1; }

.black1 { grid-area: black1; }

.a1 { grid-area: a1; }

.b1 { grid-area: b1; }

.c1 { grid-area: c1; }

.red2 { grid-area: red2; }

.blue2 { grid-area: blue2; }

.black2 { grid-area: black2; }

.a2 { grid-area: a2; }

.b2 { grid-area: b2; }

.c2 { grid-area: c2; }

.red3 { grid-area: red3; }

.blue3 { grid-area: blue3; }

.black3 { grid-area: black3; }

.a3 { grid-area: a3; }

.b3 { grid-area: b3; }

.c3 { grid-area: c3; }

.cut1 { grid-area: cut1; }

.cut2 { grid-area: cut2; }

.cut3 { grid-area: cut3; }

.keypad-container button {
    text-decoration: none;
    border: none;
    padding: 0;
    margin: 0;
    width: 56px;
    height: 56px;
}

.keypad-container button:focus {
    /* border: solid 2px #ba4423; */
    outline: none;
    padding: 0;
    margin: 0;
}
.keypad-container button:hover {
    outline: solid 3px #ba4423;
    cursor: pointer;
}

.keypad-container img {
    width: 56px;
    height: 56px;
}

.red {
    background-color: #FE0E0A;
    color: white;
}
.white {
    background-color: #FFFAE9;
}
.blue {
    background-color: #3044B1;
    color: white;
}
.yellow {
    background-color: #FFFF21;
}
.black {
    background-color: #020202;
    color: white;
}
.ktane-red {
    background-color: #ba4423;
    color: white;
}
.simon-red {
    background-color: #6A050C;
    color: white;
}
.simon-green {
    background-color: #196402;
    color: white;
}
.simon-blue {
    background-color: #040a82;
    color: white;
}
.simon-yellow {
    background-color: #897300;
    color: white;
}

.yellow-font {
    color: #dbdb1a;
}
.blue-font {
    color: #2139be;
}
.red-font {
    color: #dd0a07;
}
.green-font {
    color: #248c04;
}

.simple-wires-result {
    position: static;
}

.button-color {
    margin-top: 7px;
    display: grid;
}

.button-text {
    margin-top: 7px;
}
.button-color label {
    padding-bottom: 32px;
}

.button-text label{
    display: grid;
    margin-left: 25px;
    margin-bottom: 23px;
    padding: 0px 30px;
}

.the-button-result {
    display: grid;
}

.the-button-result .simple-wires-result {
    margin: 0px;
}

.color-strip-img {
    margin-left: 43px;
    height: 55px;
}

input[type=text] {
    width: 150px;
    padding: 6px 13px;
    margin: 0px 12px;
    font-size: 22px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    background-color: rgb(50, 50, 50);
    box-sizing: border-box;
    border: 3px solid white;
    border-radius: 5px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=text]:focus {
    border: 3px solid #ba4423;
}

/* ----- radio buttons ----- */
.radio-container {
    position: relative;
    padding-left: 35px;
    padding-right: 35px;
    margin-bottom: 12px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radio-container span {
    margin-top: -7px;
}

input[type=radio] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.radio-check {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: rgb(50, 50, 50);
    border: solid 2px white;
    border-radius: 50%;
}

.radio-check.color-radio {
    width: 60px;
    /*margin-left: 50px;*/
    text-align: center;
    padding-left: 5px;
    padding-right: 10px;
    padding-top: 5px;
    margin-bottom: 0px;
    border-radius: 5px;
    /* font-size: 18px; */
}
.radio-container input:checked ~ .radio-check.color-radio.red {
    background-color: red;
}
.radio-container input:checked ~ .radio-check.color-radio.blue {
    background-color: blue;
}
.radio-container input:checked ~ .radio-check.color-radio.yellow {
    background-color: yellow;
    color: black;
}
.radio-container input:checked ~ .radio-check.color-radio.white {
    background-color: white;
    color: black;
}

.radio-container input:checked ~ .radio-check.color-radio:after {
    display: none;
}

.radio-container:hover input ~ .radio-check {
    background-color: #535353;
}

.radio-container input:checked ~ .radio-check {
    background-color: #ba4423;
}

.radio-check:after {
    content: "";
    position: absolute;
    display: none;
}

.radio-container input:checked ~ .radio-check:after {
    display: block;
}

.radio-container .radio-check:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
    background: white;
}

/* ----- checkboxes ----- */
input[type=checkbox] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height = 0;
    width = 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 23px;
    width: 23px;
    border: solid 2px white;
    background-color: rgb(50, 50, 50);
}

.radio-container:hover input ~ .checkmark {
    background-color: #535353;
}

.radio-container input:checked ~ .checkmark {
    background-color: #ba4423;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radio-container input:checked ~ .checkmark:after {
    display: block;
}

.radio-container .checkmark:after {
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.radio-container img {
    position: absolute;
    margin-left: 10px;
    margin-top: 0px;
    border-radius: 5px;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    padding: 10px 10px 20px 10px;
}

.modal-footer button {
    font-size: 20px;
    background-color: #fff;
    color: #333;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 10px;
    margin-right: 20px;
    cursor: pointer;
}

.modal-footer .modal-cancel-button:hover {
    background-color: #eee;
}

.modal-footer .modal-accept-button {
    background-color: #ba4423;
    color: #fff;
}

.modal-footer .modal-accept-button:hover {
    background-color: #96351a;
}

.not-found {
    color: white;
    /* font-size: 60px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 150px;
}

.title {
    font-size: 60px;
}

.subtitle {
    font-size: 40px;
    margin: 0;
}

.message {
    color: #2f2f33;
    font-size: 14px;
    margin-top: 20px;
}
